In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('data/tweet_data.csv')

In [4]:
df.head()

,tweetID,crDate,edInput,editor,engages,isApproved,isEdNeed,isRT,likes,photoUrl,retweets,rtUsID,text,topicName,usFlwrs,usID,usName,videoUrl
0,1070867471245164544,2018-12-07 02:27:55,-1,-1,98,False,True,False,64,https://pbs.twimg.com/media/Dtx8SiIWkAImVsb.jpg,34,-1,The immediate impulse for an alliance of the E...,Business,23464532,5988062,The Economist,NaN
1,1070868017888837633,2018-12-07 02:30:05,-1,-1,13,False,True,False,10,https://pbs.twimg.com/media/Dtx8yTyW4AEciqP.jpg,3,-1,America's economy is flashing some warning sig...,Business,1732809,16184358,CNN Business,NaN
2,1070868012864028673,2018-12-07 02:30:04,-1,-1,12,False,True,False,8,NaN,4,-1,Lyft files for what is expected to be one of t...,Business,2253989,25053299,FORTUNE,NaN
3,1070867995239555075,2018-12-07 02:30:00,-1,-1,5,False,True,False,4,NaN,1,-1,"Exporters still waiting to get Rs 6,000 crore ...",Business,1704056,43855487,Business Standard,NaN
4,1070867995205885952,2018-12-07 02:30:00,-1,-1,5,False,True,False,2,NaN,3,-1,Ride-hailing firm Lyft races to leave Uber beh...,Business,1997662,15110357,Reuters Business,https://video.twimg.com/amplify_video/10708116...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785916 entries, 0 to 785915
Data columns (total 18 columns):
tweetID       785916 non-null int64
crDate        785916 non-null object
edInput       785916 non-null int64
editor        785916 non-null int64
engages       785916 non-null int64
isApproved    785916 non-null bool
isEdNeed      785916 non-null bool
isRT          785916 non-null bool
likes         785916 non-null int64
photoUrl      277896 non-null object
retweets      785916 non-null int64
rtUsID        785916 non-null int64
text          785916 non-null object
topicName     785916 non-null object
usFlwrs       785916 non-null int64
usID          785916 non-null int64
usName        785916 non-null object
videoUrl      140491 non-null object
dtypes: bool(3), int64(9), object(6)
memory usage: 92.2+ MB

In [6]:
df.describe()

,tweetID,edInput,editor,engages,likes,retweets,rtUsID,usFlwrs,usID
count,7.859160e+05,785916.000000,785916.000000,7.859160e+05,7.859160e+05,7.859160e+05,7.859160e+05,7.859160e+05,7.859160e+05
mean,1.115213e+18,0.206035,2311.963123,1.403637e+03,1.085909e+03,3.177282e+02,4.365098e+16,4.472701e+06,1.085276e+17
std,2.925292e+16,1.439867,2495.158883,1.665960e+04,1.293993e+04,4.053267e+03,1.894384e+17,9.149778e+06,3.010486e+17
min,5.354500e+04,-1.000000,-1.000000,0.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,1.200000e+01
25%,1.095791e+18,-1.000000,-1.000000,2.300000e+01,1.600000e+01,6.000000e+00,-1.000000e+00,1.426280e+05,1.551377e+07
50%,1.116465e+18,-1.000000,-1.000000,6.400000e+01,4.500000e+01,1.800000e+01,-1.000000e+00,9.668265e+05,3.618422e+07
75%,1.137676e+18,1.000000,5003.000000,2.500000e+02,1.840000e+02,6.500000e+01,-1.000000e+00,3.603135e+06,9.545908e+08
max,1.154179e+18,4.000000,5101.000000,4.152927e+06,3.206434e+06,1.335638e+06,1.108957e+18,1.057384e+08,1.153467e+18

In [7]:
df.columns

Index(['tweetID', 'crDate', 'edInput', 'editor', 'engages', 'isApproved',
       'isEdNeed', 'isRT', 'likes', 'photoUrl', 'retweets', 'rtUsID', 'text',
       'topicName', 'usFlwrs', 'usID', 'usName', 'videoUrl'],
      dtype='object')

In [11]:
df['topicName'].unique()

array(['Business', 'Animal', 'Memes', 'Nature', 'Travel', 'Interesting',
       'News', 'Fashion', 'Art', 'Personal Development', 'Motivational',
       'DIY & Craft', 'Editorial Pics', 'Funny', 'Poem', 'World Leaders',
       'Entrepreneurship', 'US News', 'Journalists', 'Flowers',
       'Cryptocurrency', 'Photography', 'Design & Architecture',
       'Fitness', 'Spirituality', 'Startup', 'Space', 'Technology',
       'Digital Media & Internet', 'Psychology', 'Science', 'Basketball',
       'Humor', 'Mindfulness', 'Medical', 'Informative', 'Love', 'Stocks',
       'Nanotech', 'Biotech', 'science', 'Random'], dtype=object)

In [15]:
df['label'] = df['topicName'].apply(
    lambda topic: 1 if topic == 'Nature' else 0)

In [16]:
df.head()

,tweetID,crDate,edInput,editor,engages,isApproved,isEdNeed,isRT,likes,photoUrl,retweets,rtUsID,text,topicName,usFlwrs,usID,usName,videoUrl,label
0,1070867471245164544,2018-12-07 02:27:55,-1,-1,98,False,True,False,64,https://pbs.twimg.com/media/Dtx8SiIWkAImVsb.jpg,34,-1,The immediate impulse for an alliance of the E...,Business,23464532,5988062,The Economist,NaN,0
1,1070868017888837633,2018-12-07 02:30:05,-1,-1,13,False,True,False,10,https://pbs.twimg.com/media/Dtx8yTyW4AEciqP.jpg,3,-1,America's economy is flashing some warning sig...,Business,1732809,16184358,CNN Business,NaN,0
2,1070868012864028673,2018-12-07 02:30:04,-1,-1,12,False,True,False,8,NaN,4,-1,Lyft files for what is expected to be one of t...,Business,2253989,25053299,FORTUNE,NaN,0
3,1070867995239555075,2018-12-07 02:30:00,-1,-1,5,False,True,False,4,NaN,1,-1,"Exporters still waiting to get Rs 6,000 crore ...",Business,1704056,43855487,Business Standard,NaN,0
4,1070867995205885952,2018-12-07 02:30:00,-1,-1,5,False,True,False,2,NaN,3,-1,Ride-hailing firm Lyft races to leave Uber beh...,Business,1997662,15110357,Reuters Business,https://video.twimg.com/amplify_video/10708116...,0

In [17]:
df[df['topicName']=='Nature']

,tweetID,crDate,edInput,editor,engages,isApproved,isEdNeed,isRT,likes,photoUrl,retweets,rtUsID,text,topicName,usFlwrs,usID,usName,videoUrl,label
44,1070875544202432514,2018-12-07 03:00:00,-1,-1,44,False,True,False,33,https://pbs.twimg.com/media/DtuIrMXWoAA5Wve.jpg,11,-1,"Lack Lake, Rocky mountain national Park, Color...",Nature,67520,917084527440355329,Sara Walker,NaN,1
45,1070590403454349312,2018-12-06 08:06:57,-1,-1,88,False,True,True,77,NaN,11,2470325805,How Kinky Are You?\n\nhttps://t.co/J8I1HNeD5i,Nature,4255,4530305294,Akp,NaN,1
46,1070591387551318016,2018-12-06 08:10:52,-1,-1,59,False,True,True,50,NaN,9,2470325805,12 Sex Scenes with Actors Who Hated Each Other...,Nature,4255,4530305294,Akp,NaN,1
47,1060767872903917568,2018-11-09 05:35:43,-1,-1,1817,False,True,True,1489,https://pbs.twimg.com/media/Dcnhi_FXcAAQPXk.jpg,328,2470325805,have you ever seen anyone so happy to have jam...,Nature,141170,2718980845,ღ Girls Outfit ღ,NaN,1
105,1070880221241327616,2018-12-07 03:18:35,-1,-1,3113,False,True,False,2174,NaN,939,-1,Like something out of a fairy tale 🦌 https://t...,Nature,132013,920512279556304901,Beauty Nature,https://video.twimg.com/ext_tw_video/107088010...,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785876,1154029794557931520,2019-07-24 14:05:18,-1,-1,68,False,True,True,42,NaN,26,345697781,"""Of cowboys, fish and pangolins"": How the US p...",Nature,6898,211177035,Rachel Nuwer,NaN,1
785884,1153356593196601344,2019-07-22 17:30:14,-1,-1,44,False,True,True,37,https://pbs.twimg.com/media/EAGLskxXsAAnBWd.jpg,7,2866476539,Over 100 Storm Petrels sighted from the outer ...,Nature,34,1145336761821880321,Will Smith,NaN,1
785885,1154104361053773825,2019-07-24 19:01:36,-1,-1,130,False,True,True,116,https://pbs.twimg.com/media/EAQzmI1XoAA0g8M.jpg,14,2866476539,Spotted Flycatcher chicks - 6 in the nest - pa...,Nature,1154,2168910512,Hilary Chambers,NaN,1
785894,1154045614746824707,2019-07-24 15:08:10,-1,-1,3930,False,True,True,3075,https://pbs.twimg.com/media/EAP-XNuU8AAnAve.jpg,855,933209086870437888,This 😍 https://t.co/LVxKNbK406,Nature,164463,2908344684,Couples Goals ღ,NaN,1
785895,1153018534353657856,2019-07-21 19:06:55,-1,-1,52,False,True,True,44,https://pbs.twimg.com/media/EABYPBVXkAEAT7j.jpg,8,2866476539,Harebells on a hillside overlooking Pontypool ...,Nature,19,1022313185032982529,Dave Roberts,NaN,1

In [28]:
df_tweet_label = df[['text', 'label']]

In [29]:
df_tweet_label.head()

                                                text  label
0  The immediate impulse for an alliance of the E...      0
1  America's economy is flashing some warning sig...      0
2  Lyft files for what is expected to be one of t...      0
3  Exporters still waiting to get Rs 6,000 crore ...      0
4  Ride-hailing firm Lyft races to leave Uber beh...      0

In [21]:
X = df_tweet_label['text'].to_numpy
y = df_tweet_label['label'].to_numpy

In [32]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)

In [35]:
X_train

159906    Make this twist on the McGriddle for an easy k...
108875    Apple, Amazon called out for not referring to ...
434339    Feed the areas of your life you want to grow. ...
720352    Jeffrey Epstein—inmate 76318-054—joins "El Cha...
666709    Fox News contributor suggests migrant father, ...
                                ...
259178    We’ve extended our $9.99 swimsuit sale for ano...
365838    No More Neck or Back Pain! 😍\nWake up feeling ...
131932    Today, @dog_rates gave their 8th 15/10. Look b...
671155    Begin at the beginning and go on till you come...
121958    Victims of mass shootings at Emanuel AME Churc...
Name: text, Length: 526563, dtype: object

In [36]:
type(X_train)

pandas.core.series.Series

In [24]:
y_train

159906    0
108875    0
434339    0
720352    0
666709    0
         ..
259178    0
365838    0
131932    0
671155    0
121958    0
Name: label, Length: 526563, dtype: int64

In [37]:
X_np = df_tweet_label['text'].to_numpy
y_np = df_tweet_label['label'].to_numpy

In [38]:
X_np

<bound method IndexOpsMixin.to_numpy of 0         The immediate impulse for an alliance of the E...
1         America's economy is flashing some warning sig...
2         Lyft files for what is expected to be one of t...
3         Exporters still waiting to get Rs 6,000 crore ...
4         Ride-hailing firm Lyft races to leave Uber beh...
                                ...
785911              Relations are DIFFERENT\nnot DIFFICULT.
785912    "to live a creative life, we must lose our fea...
785913      Who's your comic crush? https://t.co/H29dhXw3kf
785914    After a flight of 195 hours, 18 minutes, 35 se...
785915    Scarface's Action Figure Tony Montana cutting ...
Name: text, Length: 785916, dtype: object>